.contenedor{ 
    align-content: center;
}

.tutilo_blog{
    width: 100%;
    height: 601px;

}

.h1_blog{
    font-family: 'aton', sans-serif;
    color: transparent;
    font-size: 300px;
    font-weight: 600;
    background-image: url(../images/Urbana3.jpeg);
    background-clip: text;
    font-weight: bold;
    background-position-y: center ;
}

.cursor{
    color: rgba(255, 255, 255, 0.945);
    border-radius: 5px;
}

.info, .info2{margin-top: 50px;}
.info{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 440px;
}

.info2{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 470px;
}

.buton_a {
    margin-top: 60px;
    margin-left: 83%;
    padding: 5px 15px;
    border-radius: 3px;
    position: absolute;
    top: 445px;
    background-color: #0026ff; 
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buton_a:hover {
    background-color: #5b6dd1;
}

.cuadro-1{
    width: 1000px;
    height: 320px;
    border: 1px solid  rgb(219, 233, 219) ;
    margin: 0px 10px 10px 150px ;
    padding: 50px;
    border-radius: 15px;
}

.titulo9{
    font-size: 35px;
     font-weight: 600;
}

.texto{
    width: 330px;
    font-size: 15px;
    margin-top: 20px;
}
.cuadro-2{
    width: 1000px;
    height: 300px;
    border: 1px solid  rgb(219, 233, 219);
    margin: 30px 10px 10px 150px;
    padding: 50px;
    border-radius: 15px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    transition: transform 0.5s ease-in-out;
} 

.carousel img {
    height: 250px;
    width: 500px;
    border-radius: 7px;
}